<div id="Reides">
<h1 id="h1">Reides beta</h1>
{{#if user}}
<div class="card mx-auto">
    <div class="card-body">
      <h1>Hola, {{user.name}}</h1>
      <p clsss="lead">Bienvenido</p>
      <a href="/notes" class="btn btn-success btn-block">Crear Nota</a>
    </div>
  </div>
{{else}}
<div>
    <form action="/users/signin" >
    <input type="submit" value="Iniciar Sesión" id="botonsignin"/>
</form>
    <form action="/users/signup" >
    <input type="submit" value="Registrarse" id="botonsignup" />
</form>
</div>
{{/if}}

</div>