<div id="Reides">
<h1 id="h1">Reides beta</h1>
{{#if user}}
{{else}}
<div>
    <form action="/users/signin" id="botonsignin">
    <input type="submit" value="Iniciar Sesión" />
</form>
    <form action="/users/signup" id="botonsignup">
    <input type="submit" value="Registrarse" />
</form>
</div>
{{/if}}

</div>