{{#if user}}
<div id="Reides">
<h1 id="h1">Reides beta</h1>
<div class="card mx-auto">
    <div class="card-body">
      <h1>Hola, {{user.email}}</h1>
      <p clsss="lead">Bienvenido</p>
      <a href="/notes" class="btn btn-success btn-block">Crear Nota</a>
    </div>
  </div>
{{else}}
 
{{/if}}

</div>