{{#if user}}
{{else}}
        <main class="principal">
        
            <div class="contenedor-col" id="contenedor-descrip"> 
              <h1>Reides, la primera Agenda Inteligente</h1>
                <p>Organiza tu vida optimizando tu tiempo, y maximizando tu vida</p>
                <div class="botones">
                    <button id="inicio-sesion"><a href="/users/signin" class="inicc">Iniciar Sesion</a></buttom>
                    <button id="registro"><a href="/users/signup" class="regg">Registrarse</a></buttom>
                </div>
            </div>
            <div class="contenedor-col" id="contenedor-img">
                <img src="https://media.discordapp.net/attachments/721130844713910286/926320637566414848/cghxdh.png" alt="">
            </div>
      </main>
  
{{/if}}

</div>