{{#if user}}
{{else}}
        <main class="principal">
        
            <div class="contenedor-col" id="contenedor-descrip"> 
              <h1>Reides, la primera Agenda Inteligente</h1>
                <p>Organiza tu día, optimiza tu vida</p>
                <div class="botones">
                    <button id="inicio-sesion"><a href="/users/signin" class="inicc">Iniciar Sesion</a></buttom>
                    <button id="registro"><a href="/users/signup" class="regg">Registrarse</a></buttom>
                </div>
            </div>
            <div class="contenedor-col" id="contenedor-img">
                <img src="img/png-transparent-computer-monitors-laptop-output-device-desktop-laptop-electronics-computer-computer-wallpaper.png" alt="">
            </div>
      </main>
  
{{/if}}

</div>