{{#if user}}
{{else}}
        <main class="principal">
        
            <div class="contenedor-col" id="contenedor-descrip"> 
              <h1>Reides el futuro del futuro</h1>
                <p>La mejor agenda que te organiza automaticamente las cosas y te ayuda a mejorar tu productividad</p>
                <div class="botones">
                    <a id="inicio-sesion" href="/users/signin">Iniciar Sesion</buttom>
                    <a id="registro" href="/users/signup">Registrarse</buttom>
                </div>
            </div>
            <div class="contenedor-col" id="contenedor-img">
                <img src="https://media.discordapp.net/attachments/721130844713910286/926193145476165682/cghxdh.png" alt="">
            </div>
      </main>
  
{{/if}}

</div>