<div id="Reides">
<h1 id="h1">Reides beta</h1>
{{#if user}}
{{else}}
<div>
    <form action="/users/signin" >
    <input type="submit" value="Iniciar Sesión" id="botonsignin"/>
</form>
    <form action="/users/signup" >
    <input type="submit" value="Registrarse" id="botonsignup" />
</form>
</div>
{{/if}}

</div>