{{#if user}}
<div id="Reides">
<h1 id="h1">Reides beta</h1>
<div class="card mx-auto">
    <div class="card-body">
      <h1>Hola, {{user.email}}</h1>
      <p clsss="lead">Bienvenido</p>
      <a href="/notes" class="btn btn-success btn-block">Crear Nota</a>
    </div>
  </div>
{{else}}
 <main>
      <div class="contenedor-principal">
          <div class="contenedor-col" style="
    display: inline-block;
    width: 45%;
    position: relative;
    bottom: 35vh;
"> 
            <h2>Reides, la primera agenda inteligente del mundo</h2>
              <p>Crea una cuenta gratis para optimizar tu tiempo, y vivir tu vida al máximo</p>
              <div class="botones">
                  <buttom style="     background-color: rgb(255, 238, 0);
                      font-weight: 700;
    border: none;
                      color: white;
                          padding: 5px;
    margin-right: 3px ;">Iniciar Sesion</buttom>
                  <buttom style=" background-color: transparent; color: white; font-weight: 700; border: 2px solid white; margin-left: 2px; padding: 5px;">Registrarse</buttom>
              </div>
              
          </div>
          <div class="contenedor-col" style="
    display: inline-block;
    width: 45%;
">
              <img src="https://cdn.discordapp.com/attachments/721130844713910286/926191144298250321/cghxdh.png" alt="">
          </div>
      </div>
      
    </main>

{{/if}}

</div>