<div class="Reides">
<h1>Reides beta</h1>
<div>
    <form action="/users/signin">
    <input type="submit" value="Iniciar Sesión" />
</form>
    <form action="/users/signup">
    <input type="submit" value="Registrarse" />
</form>
</div>
</div>