body{
    background-color: #100e19;
    color: white;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}
a:-webkit-any-link{
    text-decoration: none;
    color: white;
}
button{
    background-color: #100e19;
    color: white;
    font-size: 24px;
    width: 150%;
}
#nav{
    border-bottom: 1px solid #FF914D;
    font-size: 36px;
    height: 60px;
}
#Iniciar{
    position: absolute;
    right: 15%;
    font-size: 63%;
    top: 12px;
}
#Tarea{
    position: absolute;
    right: 310px;
    font-size: 24px;
    top: 12px;
}
#Agregar{
    position: absolute;
    right: 155px;
    font-size: 24px;
    top: 12px;
}
#Registrarse, #Cerrar{
    position: absolute;
    right: 2%;
    font-size: 63%;
    top: 12px;
}
#Tareas{
    display: flex;
    position: relative;
    left: 45%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-evenly;
    font-size: 21px;
    height: 60px;
    margin: inherit;
}
ul{
    list-style-type: none;
}

#sesion{
     margin: 0%;
} 
#eliminar{
    border: none;
    position: relative;
    right: 71px;
    top: -61px;
    cursor: pointer;
    font-size: 31px;
    color: darkgrey;
}
#HOY{
    font-size: 60px;
    margin: inherit;
    position: relative;
    left: 45%;
}
#nueva{
    margin-bottom: 75px;
    position: relative;
    left: 42%;
}
#input{
    background-color: #100e19;
    border: none;
    font-size: 24px;
    outline: none;
    font-family: 'Titillium Web';
    color: white;
}
#submit{
    position: relative;
    left: 5%;
    border: none;
    font-family: 'Titillium Web';
    cursor: pointer;
}
#h1{
    font-size: 72px;
    position: relative;
    left: 40%;
}
#botonsignin{
    position: relative;
    left: 35%;
    font-size: 32px;
    background-color: #100e19;
    color: #FF914D;
    cursor: pointer;
    border: none;
}
#botonsignup{
    position: relative;
    left: 65%;
    font-size: 32px;
    background-color: #100e19;
    color: #FF914D;
    cursor: pointer;
    border: none;
    top: -38px;
}