body{
    background-color: #100e19;;
    color: white;
}
a:-webkit-any-link{
    text-decoration: none;
    color: white;
}

#nav{
    border-bottom: 1px solid orange;
    font-size: 36px;
};

#Reides{
    font-size: 24px;
}

#Iniciar{
    position: absolute;
    right: 100px;
}

#Registrarse{
    position: absolute;
    right: 10px;
}