<link rel="stylesheet" href="../../public/css/main.css">
<nav id="nav">
<a href="/">Reides</a>
{{#if user}}
<a href="/notes">Tareas</a>
<a href="/notes/add">Agregar Tarea</a>
<a href="/users/logout">Cerrar Sesión</a>
{{else}}
<a href="/users/signin">Iniciar Sesión</a>
<a href="/users/signup">Registrarse</a>
{{/if}}


</nav>