<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smothscroll" href="/"><b>Reides</b></a>
      </div>
      {{#if user}}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicio</a></li>
        </ul>
          <ul class="nav navbar-nav derecha" style="float: right">
          <li><a href="/notes">Tareas</a></li>
          <li><a href="/users/logout">Cerrar Sesión</a></li>
        </ul>
      </div>

      {{else}}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicio</a></li>
        </ul>
        <ul class="nav navbar-nav derecha" style="float: right">
          <form action="/users/signin" method="POST" class="form">
          <details><summary><li><p>Iniciar Sesión</p></li></summary>
            <p class="type">Email<input type="email" name="email" placeholder="Email" value="{{email}}" class="form-control" required="required" data-error="Lastname is required."></input></p>
           <p class="type">Contraseña<input type="password" name="password" placeholder="Contraseña" value="{{password}}" class="form-control" required="required" data-error="Valid email is required."></input></p>
           <button type="submit" id="submit" class="submit">Iniciar Sesión</button></form></details></form>
          <details> <summary> <li><p class="nab">Registrarse</p></li></summary></details>
        </ul>
      </div>
      {{/if}}
    </div>
  </div>