<nav id="nav">
<a href="/" id="Reides">Reides</a>
{{#if user}}
    <ul>
        <li>    
            <a href="/notes" id="Tareas">Tareas</a>
        </li>
        <li>
            <a href="/notes/add" id="Agregar">Agregar Tarea</a>
        </li>
        <li>
            <a href="/users/logout" id="Cerrar">Cerrar Sesión</a>
        </li>
    </ul>
{{else}}
    <ul>
        <li>
            <a href="/users/signin" id="Iniciar">Iniciar Sesión</a>
        </li>
        <li>
            <a href="/users/signup" id="Registrarse">Registrarse</a>
        </li>
    </ul>
{{/if}}


</nav>