<nav>
<a href="/">Reides</a>
<a href="/users/signin">Iniciar Sesión</a>
<a href="/users/signup">Registrarse</a>
<a href="/users/logout">Cerrar Sesión</a>
<a href="/notes">Tareas</a>
<a href="/notes/add">Agregar Tarea</a>



</nav>