<nav id="nav">
<a href="/" id="Reides">Reides</a>
{{#if user}}
<a href="/notes" id="Tareas">Tareas</a>
<a href="/notes/add" id="Agregar">Agregar Tarea</a>
<a href="/logout" id="Cerrar">Cerrar Sesión</a>
{{else}}
<a href="/users/signin" id="Iniciar">Iniciar Sesión</a>
<a href="/users/signup" id="Registrarse">Registrarse</a>
{{/if}}


</nav>