<div id="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand smothscroll" href="/"><b>Reides</b></a>
      </div>
      {{#if user}}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicio</a></li>
        </ul>
          <ul class="nav navbar-nav derecha" style="float: right">
          <li><a href="/notes">Tareas</a></li>
          <li><a href="/users/logout">Cerrar Sesión</a></li>
        </ul>
      </div>

      {{else}}
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Inicio</a></li>
        </ul>
        <ul class="nav navbar-nav derecha">
          <li><a href="/users/signin">Iniciar Sesión</a></li>
          <li><a class="nab" href="/users/signup">Registrarse</a></li>
        </ul>
      </div>
      {{/if}}
      <!--/.nav-collapse -->
    </div>
  </div>