<h2 id="HOY">Esta semana</h2>
    <form action="/notes/new-note/semana" method="POST" id="nueva">
    <input type="text" id="input" name="title" placeholder="Escribe Aquí tu Tarea"/>
    <button type="submit" id="submit">Agregar Tarea</button>
    </form>
    <a href="/notes">INBOX</a>
    <a href="/notes/hoy">HOY</a>
    <a href="/notes/semana">ESTA SEMANA</a>
    <a href="/notes/cualquier">EN CUALQUIER MOMENTO</a>
<div class="row d-flex justify-content-center container">
    <div class="col-md-8">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal"><i class="fa fa-tasks"></i>&nbsp;Task Lists</div>
            </div>
            <div class="scroll-area-sm">
                <perfect-scrollbar class="ps-show-limits">
                    <div style="position: static;" class="ps ps--active-y">
                        <div class="ps-content">
                            <ul class=" list-group list-group-flush">
                                {{#each notes}}
                                <li class="list-group-item">
                                    {{title}}
                                    <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                                    <input type="hidden" name="_method" value="Eliminar">
                                    <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
                                    </form>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</div>