<div>

    <h2>Hola {{user.name}}!</h2>
    <a href="/notes/reides">Estilo Reides</a>
    {{#each notes}}
    <ul id="Tareas">
        <li>
                <h4>{{title}}</h4>
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" id="eliminar">o</button>
            </form>
        </li>
    </ul>
    {{else}}
    <div>
        <p>No hay Tareas</p>
        <a href="/notes/add">Crear una</a>
    </div>
    {{/each}}
</div>