{{#each errors}}
<div>
{{text}}
</div>
{{/each}}
<div>
    <h3>Nueva Tarea</h3>
    <form action="/notes/new-note" method="POST"> 
    <div>
        <input type="text" name="title" placeholder="Tarea"/>
    </div>
        <p>Tiene Horario Fijo?  (opcional)</p>
        <input type="radio" id="Si" name="fijo" value="Si">
        <label for="Si">No tocar este boton</label><br>
        <input type="radio" id="No" name="fijo" value="No">
        <label for="No">Tocar Este boton es mucho muy importante</label> <br>   
    <div>
    <p>A que hora? (Ej: 1600):   (opcional)</p> 
        <input type="number" id="cuando" name="cuando" value=""><br>
    <p>Tiempo total (en minutos):   (opcional)</p>
        <input type="number" id="duracion" name="duracion" value=""><br>
        <p>Es para Hoy?  (opcional)</p>
        <input type="radio" id="HoySi" name="limite" value="Si">
        <label for="Si">Si</label><br>
        <input type="radio" id="HoyNo" name="limite" value="No">
        <label for="No">No</label> <br>
        
<p>Caracter:   (opcional)</p>
    <form action="" id="form">
        <input type="radio" id="Estudio" name="caracter" value="Estudio">
        <label for="male">Estudio</label><br>
        <input type="radio" id="Ocio" name="caracter" value="Ocio">
        <label for="female">Ocio</label><br>
        <input type="radio" id="Ejercicio" name="caracter" value="Ejercicio">
        <label for="other">Ejercicio</label> <br>
        <input type="radio" id="Alimentacion" name="caracter" value="Alimentacion">
        <label for="other">Alimentacion</label> <br>

        <button type="submit">Agregar Tarea</button>
    </div>
    </form>


</div>