{{#each errors}}
<div>
{{text}}
</div>
{{/each}}
<div>
    <h3>Nueva Tarea</h3>
    <form action="/notes/new-note" method="POST"> 
    <div>
        <input type="text" name="title" placeholder="Tarea"/>
    </div>
        <p>Tiene Horario Fijo? (opcional)</p>
        <input type="radio" id="Si" name="fijo" value="Si">
        <label for="Si">Si</label><br>
        <input type="radio" id="No" name="fijo" value="No">
        <label for="No">No</label> <br>   
    <div>
    <p>A que hora? (Ej: 1600):</p> 
        <input type="number" id="cuando" name="cuando" value=""><br>
    <p>Tiempo total (en minutos):</p>
        <input type="number" id="duracion" name="duracion" value=""><br>
        <p>Es para Hoy?</p>
        <input type="radio" id="HoySi" name="limite" value="Si">
        <label for="Si">Si</label><br>
        <input type="radio" id="HoyNo" name="limite" value="No">
        <label for="No">No</label> <br>
        

















        <button type="submit">Guardar</button>
    </div>
    </form>


</div>