<div>
   
    <h2 id="HOY">En Cualquier Momento</h2>
    <form action="/notes/new-note/cualquier" method="POST" id="nueva">
    <input type="text" id="input" name="title" placeholder="Escribe Aquí tu Tarea"/>
    <button type="submit" id="submit">Agregar Tarea</button>
    </form>
    <a href="/notes">INBOX</a>
    <a href="/notes/hoy">HOY</a>
    <a href="/notes/semana">ESTA SEMANA</a>
    <a href="/notes/cualquier">EN CUALQUIER MOMENTO</a>
    {{#each notes}}
    <ul id="Tareas">
        <li>
                <h4>{{title}}</h4>
                       <p class="text-muted">{{mensaje}}</p>
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <button type="submit" id="eliminar">o</button>
            </form>
        </li>
    </ul>
    {{else}}
    <div>
        <p>No hay Tareas</p>
    </div>
    {{/each}}
</div>