<div>
   
    <h2 id="HOY">En Cualquier Momento</h2>
    <form action="/notes/new-note/cualquier" method="POST" id="nueva">
    <input type="text" id="input" name="title" placeholder="Escribe Aquí tu Tarea"/>
    <button type="submit" id="submit">Agregar Tarea</button>
    </form>
    <a href="/notes">INBOX</a>
    <a href="/notes/hoy">HOY</a>
    <a href="/notes/semana">ESTA SEMANA</a>
    <a href="/notes/cualquier">EN CUALQUIER MOMENTO</a>
    {{#each notes}}
     <div class="col-md-3">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title d-flex justify-content-between align-items-center">
          {{ title }} 
        </h4>
        <!-- DELETE REQUEST -->
        <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
          <input type="hidden" name="_method" value="Eliminar">
          <button type="submit" class="btn btn-danger btn-block btn-sm">Eliminar</button>
        </form>
      </div>
    </div>
  </div>
    {{else}}
    <div>
        <p>No hay Tareas</p>
    </div>
    {{/each}}
</div>