
                                        <div class="form-group"> <label for="form_lastname">Email *</label> <input id="form_lastname" type="email" name="email" placeholder="belmesmartin@gmail.com" value="{{email}}" class="form-control" required="required" data-error="Lastname is required."> </div>
                                         <div class="form-group"> <label for="form_email">Contraseña *</label> <input id="form_email" type="password" name="password" placeholder="12345678" value="{{password}}" class="form-control" required="required" data-error="Valid email is required."> </div>
<form class="form" action="/notes/new-note" method="POST" id="nueva">
  <h2>Añadir Tarea</h2>
  <p class="type">Email<input type="email" name="email" placeholder="belmesmartin@gmail.com" value="{{email}}" required="required" data-error="Lastname is required." class="añadir"></input></p>
  <p class="type">Contraseña<input type="password" name="password" placeholder="12345678" value="{{password}}" required="required" data-error="Valid email is required." class="añadir"></input></p>
  <button type="submit" id="submit" class="submit">Agregar Tarea</button></form>