<div>
    <p>Iniciar Sesión</p>
    <form action="/users/signin" method="POST">
    <div>
        <input type="email" name="email" placeholder="mail" value="{{email}}">
    </div>
    <div>
        <input type="password" name="password" placeholder="contraseña" value="{{password}}">
    </div>
    <button type="submit">Iniciar Sesión</button>
    </form>
</div>