<form class="form" action="/notes/new-note" method="POST" id="nueva">
  <h2>Añadir Tarea</h2>
  <p class="type">Email<input type="email" name="email" placeholder="Email" value="{{email}}" required="required" data-error="Lastname is required." class="añadir"></input></p>
  <p class="type">Contraseña<input type="password" name="password" placeholder="Contraseña" value="{{password}}" required="required" data-error="Valid email is required." class="añadir"></input></p>
  <button type="submit" class="submit">Iniciar Sesión</button></form>