  <form class="form" action="/users/signup" method="POST" id="nueva">
  <h2>Iniciar Sesión</h2>
  <p class="type">Nombre<input type="text" name="name" placeholder="Nombre" value="{{name}}" required="required" data-error="Firstname is required." class="añadir"></input></p>
  <p class="type">Email<input type="email" name="email" placeholder="Email" value="{{email}}" required="required" data-error="Lastname is required." class="añadir"></input></p>
  <p class="type">Contraseña<input type="password" name="password" placeholder="Contraseña" value="{{password}}" required="required" data-error="Valid email is required." class="añadir"></input></p>
  <p class="type">Confirmar contraseña<input type="password" name="confirm_password" placeholder="Contraseña" value="{{confirm_password}}" required="required" data-error="Valid email is required." class="añadir"></input></p>
  <button type="submit" class="submit">Iniciar Sesión</button></form>