<div>
    <p>Registrtarse</p>
    <form action="/users/signup" method="POST">
    <div>
        <input type="text" name="name" placeholder="Nombre">
    </div>
    <div>
        <input type="email" name="email" placeholder="mail">
    </div>
    <div>
        <input type="password" name="password" placeholder="contraseña">
    </div>
    <div>
        <input type="password" name="confirm_password" placeholder="contraseña">
    </div>
    <button type="submit">Crear Cuenta</button>
    </form>
</div>